<template>
    <div class="fk-input-container">
        <input
                :id="generateInputId(index)"
                :key="index"
                :ref="generateInputId(index)"
                :style="{
        fontSize: fkFontSize,
        borderBottom: fkInputColor(index),
        color: fontColor,
        width: fkWidth,
      }"
                @input="returnFullString()"
                @keypress="isNumber($event)"
                @keyup="handleInputFocus(index)"
                @paste.prevent="handlePastedValues"
                contenteditable="true"
                inputmode="numeric"
                maxlength="1"
                pattern="\d*"
                type="text"
                :placeholder="placeHolder ? placeHolder[index] : ''"
                v-for="(input, index) in length"
                v-model="inputValues[index]"
        />

    </div>
</template>

<script>
    export default {
        name: 'iin-input',

        props: {
            length: {
                type: Number,
                required: true,
            },
            placeHolder: {
                type: String,
                required: false
            },
            fontSize: {
                type: Number,
                default: 22,
                required: false,
            },
            inputColor: {
                type: String,
                default: '#42b983',
                required: false,
            },
            fontColor: {
                type: String,
                default: '#444444',
                required: false,
            },
            allowPaste: {
                type: Boolean,
                default: true,
                required: false,
            },
        },

        data() {
            return {
                inputValues: [],
            };
        },

        computed: {
            fkFontSize() {
                return `${this.fontSize}px`;
            },

            fkWidth() {
                const width = this.fontSize + 8;

                return `${width}px`;
            },
        },

        methods: {
            generateInputId(index) {
                return `fk_${index + 1}`;
            },

            fkInputColor(index) {
                const color = this.inputValues[index] ? this.inputColor : '#eeeeee';

                return `3px solid ${color}`;
            },

            handleInputFocus(index) {
                if (this.inputValues[index] && this.inputValues[index] !== '' && index < this.length - 1) {
                    const [nextInput] = this.$refs[`fk_${index + 2}`];
                    nextInput.focus();
                } else if (index > 0 && (!this.inputValues[index] || this.inputValues[index] === '')) {
                    const [previusInput] = this.$refs[`fk_${index}`];
                    previusInput.focus();
                }
            },

            handlePastedValues(event) {
                if (this.allowPaste) {
                    const pastedValue = event.clipboardData.getData('text/plain');
                    const splitValues = pastedValue.split('');
                    const _this = this;

                    for (let i = 0; i < this.length; i++) {
                        _this.updateInputValue(i, splitValues[i]);
                    }

                    const [lastInput] = this.$refs[`fk_${this.length}`];
                    lastInput.focus();
                }
            },

            updateInputValue(index, value) {
                console.log(index, value);
                if (value.isNumeric()) {
                    this.$set(this.inputValues, index, value);
                }
            },

            isNumber: function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            returnFullString() {
                this.$emit('input', this.inputValues.join(''));
            },
        },
    };
</script>

<style lang="scss" scoped>
    .fk-input-container {
        display: inline-block;

        input {
            border-radius: 5px;
            border: none;
            margin-left: 10px;
            text-align: center;

            &:first-child {
                margin-left: 0;
            }

            &:focus {
                outline: none;
            }
        }
    }

    @media (max-width: 768px) {
        input {
            width: 13% !important;
            font-size: 21px !important;
        }

        .fk-input-container {
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            justify-content: center;
            flex-wrap: wrap;
        }

        .fk-input-container>input:nth-child(7){
            margin-left: 0;
        }
    }

    @media (max-width: 325px) {
        input {
            width: 12% !important;
        }
    }

</style>
