<template>
    <div ref="runningText" class="running-text text-center">
    </div>
</template>

<script>
    export default {
        name: "RecognizedMessages"
    }
</script>

<style scoped>

</style>