<template>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" readonly rows="10">
                    {{messages.join('\n')}}
                </textarea>
                <hr>
                <input type="text" v-model="textMessage" @keyup.enter="sendMessage" class="form-control">
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "Chat",
        data() {
            return {
                messages: [],
                textMessage: ''
            }
        },
        methods: {
            sendMessage: function () {
                axios.post('/messages', {
                    body: this.textMessage
                });
                this.messages.push(this.textMessage);
                this.textMessage = '';
            }
        },
        mounted() {
            window.Echo.channel('laravel_database_chat')
                .listen('Message',({message})=>{
                    this.messages.push(message);
                });
        }
    }
</script>

<style scoped>

</style>