<template>
    <div class="container">
        <div class="row">
            <div v-for="call in calls" :key="call.id" class="col-xs-12 col-sm-3">
                <div class="card" style="margin-top: 20px">
                    <div class="video-div">
                        <div style="background: #000;width: 100%;height: 100%;position: absolute;">
                        </div>
                        <div @click="$bvModal.show(`modal-${call.id}`)" class="rounded-circle">
                            <div class="triangle">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-3">
                            Дата: <b>{{call.date_localized}}</b> <br>
                            Длительность: <b>{{parseInt(call.duration / 60) }} минут {{call.duration % 60 }} секунд</b>
                            <br>
                            <template v-if="mode === 'common' || mode === 'translator'">
                                Клиент: <b>{{call.client.name}}</b> <br>
                            </template>
                            <template v-if="mode === 'common' || mode === 'client'">
                                Переводчик: <b>{{call.translator.name}}</b> <br>
                            </template>
                        </p>
                        <b-button size="lg" @click="$bvModal.show(`modal-${call.id}`)">Открыть</b-button>

                    </div>
                </div>
            </div>
        </div>

        <div style="width: 100%;position: absolute">
            <b-modal size="xl" :id="`modal-${call.id}`" :key="call.id" v-for="call in calls" title="BootstrapVue">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>
                                <template v-if="mode === 'client'">Вы:</template>
                                <template v-else>Клиент:</template>
                            </h5>
                            <video width="100%" class="js-player" autoplay controls>
                                <source type="video/mp4"
                                        :src="(call.client_video_link && call.client_video_link.indexOf('https') > -1) ? call.client_video_link : `https://${call.client_video_link}`">
                            </video>
                        </div>
                        <div class="col-sm-6">
                            <h5>
                                <template v-if="mode === 'translator'">Вы:</template>
                                <template v-else>Переводчик:</template>
                            </h5>
                            <video width="100%" autoplay class="js-player" controls>
                                <source type="video/mp4"
                                        :src="(call.translator_video_link && call.translator_video_link.indexOf('https') > -1) ? call.translator_video_link : `https://${call.translator_video_link}`">
                            </video>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <button class="btn btn-primary m-3" type="button" data-toggle="collapse" :data-target="`#collapseExample${call.id}`"
                                    aria-expanded="false" :aria-controls="`collapseExample${call.id}`">
                                Показать синтез речи переводчика
                            </button>
                        </div>
                        <div class="col-sm-12">
                            <div class="collapse" :id="`collapseExample${call.id}`">
                                <div class="card card-body" v-html="call.text">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </b-modal>
        </div>

    </div>
</template>

<script>
    import Plyr from 'plyr';

    export default {
        props: [
            'callsProp',
            'mode'
        ],
        name: "History",
        data() {
            return {
                calls: [],
                players: []
            }
        },

        mounted() {
            this.calls = this.callsProp;
        }
    }
</script>

<style scoped lang="scss">
    .video-div {
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .rounded-circle {
        width: 100px;
        height: 100px;
        z-index: 5;
        border: 3px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .triangle {
        position: absolute;
        width: 35px;
        height: 30px;
        //background: #FFFFFF;
        right: 16px;
        border-top: 25px solid transparent;
        border-left: 50px solid white;
        border-bottom: 25px solid transparent;
    }

    .rounded-circle:hover {
        transform: scale(1.3);
        cursor: pointer;
    }
    .collapse{
        white-space: pre-wrap;
    }
</style>