<template>
    <div @keyup.enter="loginRequest" class="container-fluid">
        <div :class="isDoingRequest ? 'container-mute' : ''">
        </div>
        <div class="lds-dual-ring" v-if="isDoingRequest"></div>
        <div class="container full-height iin-auth-container flex-container">
            <h2 class="big-title">
                Добро пожаловать в Onay Surdo!
            </h2>
            <iin-input :allowPaste="false" :fontSize="40" :length="12"
                       @input="filled"
                       class="iin-input"
                       fontColor="#ffc107"
                       :place-holder="'ИИН'"
                       inputColor="#31bce6"
                       v-model="iin"></iin-input>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a :class="iin.length === 12 ? 'active' : 'disabled'" @click="loginRequest"
                   class="btn btn-sm animated-button thar-two">Вход
                </a>
            </div>
        </div>
    </div>

</template>

<script>
    import IinInput from "../parts/IinInput";
    import axios from 'axios';

    export default {
        name: "IinAuth",
        data() {
            return {
                iin: '',
                isDoingRequest: false
            }
        },
        components: {
            IinInput
        },
        methods: {
            filled: function (string) {
                this.iin = string;
            },
            loginRequest: function () {
                if (!this.isDoingRequest && this.iin.length === 12) {
                    this.isDoingRequest = true;
                    axios.post('/login-request', {iin: this.iin}).then((res) => {
                        if (res.status === 200) {
                            window.location.href = '/client';
                        }
                    }).catch((err) => {
                        console.log(err);
                        alert('Вашего ИИН-а нет на нашей базе данных!');
                    }).finally(() => {
                        this.isDoingRequest = false;
                    });
                }

            }
        }

    }
</script>

<style scoped>
    .container-fluid {
        position: relative;
    }

    @media (max-width: 768px) {
        .big-title {
            font-size: 25px;
        }
    }
</style>