<template>
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <h4 class="m-3">
                    <template>Вы:</template>
                </h4>
                <video style="max-width: 100%!important;max-height: 45vh!important;" id="video1" controls>
                    <source type="video/mp4"
                            :src="(call.client_video_link && call.client_video_link.indexOf('https') > -1) ? call.client_video_link : `https://${call.client_video_link}`">
                </video>
            </div>
            <div class="col-sm-12">
                <h4 class="m-3">
                    <template>Переводчик:</template>
                </h4>
                <video style="max-width: 100%!important;max-height: 45vh!important;" id="video2" controls>
                    <source type="video/mp4"
                            :src="(call.translator_video_link && call.translator_video_link.indexOf('https') > -1) ? call.translator_video_link : `https://${call.translator_video_link}`">
                </video>
            </div>
            <button class="btn btn-primary m-3" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Показать синтез речи переводчика
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body" v-html="call.text">
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import Plyr from 'plyr';

    export default {
        props: [
            'call'
        ],
        name: "WebViewHistory",
        mounted() {
            const player1 = new Plyr('#video1');
            const player2 = new Plyr('#video2');
        }
    }
</script>

<style scoped lang="scss">
    .video-div {
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .rounded-circle {
        width: 100px;
        height: 100px;
        z-index: 5;
        border: 3px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .triangle {
        position: absolute;
        width: 35px;
        height: 30px;
        //background: #FFFFFF;
        right: 16px;
        border-top: 25px solid transparent;
        border-left: 50px solid white;
        border-bottom: 25px solid transparent;
    }

    .rounded-circle:hover {
        transform: scale(1.3);
        cursor: pointer;
    }

    #collapseExample{
        white-space: pre-wrap;
    }
</style>