<template>
    <div class="container-fluid">
        <video class="my-video" ref="myVideo"></video>
        <video class="user-video" ref="userVideo"></video>
        <div @click="finishCall" class="finish-call">
            <svg aria-hidden="true" class="svg-inline--fa fa-phone-slash fa-w-20" data-icon="phone-slash"
                 data-prefix="fas"
                 focusable="false" role="img" viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg">
                <path d="M268.2 381.4l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48c-10.7 4.6-16.5 16.1-13.9 27.5l24 104c2.5 10.8 12.1 18.6 23.4 18.6 100.7 0 193.7-32.4 269.7-86.9l-80-61.8c-10.9 6.5-22.1 12.7-33.6 18.1zm365.6 76.7L475.1 335.5C537.9 256.4 576 156.9 576 48c0-11.2-7.7-20.9-18.6-23.4l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-12.2 26.1-27.9 50.3-46 72.8L45.5 3.4C38.5-2 28.5-.8 23 6.2L3.4 31.4c-5.4 7-4.2 17 2.8 22.4l588.4 454.7c7 5.4 17 4.2 22.5-2.8l19.6-25.3c5.4-6.8 4.1-16.9-2.9-22.3z"
                      fill="currentColor"/>
            </svg>
        </div>
        <div class="running-text text-center" ref="runningText">
        </div>
    </div>
</template>

<script>
    import Peer from 'simple-peer';
    import axios from 'axios';
    import MediaHandler from '../../media';

    export default {
        props: [
            'userProp',
        ],
        name: "WebViewVideoChat",
        methods: {
            callTo: function (userId) {
                this.peers[userId] = this.startPeer(userId);
            },
            setupSocket: function () {
                axios.get('/create-call/' + this.user.id).then((res) => {
                    this.call = res.data;
                    this.startPinging();
                    //this.setupWebSocket();
                    window.Echo.private('call-private.' + this.call.id)
                        .listen('TranslatorFound', (signal) => {
                            console.log(signal);
                            this.call.translator_id = signal.user.id;
                            this.callTo(signal.user.id);
                        })
                        .listen('SentOffer', (signal) => {
                            console.log(signal);
                            this.signal = signal;
                            let peer = this.peers[signal.call.translator.id];
                            this.signal.data.sdp += `\n`;
                            peer.signal(this.signal.data);
                        })
                        .listen('CallFinished', (signal) => {
                            this.finishCall();
                        });
                }).catch(() => {
                    alert('Не удалось найти свободного переводчика')
                });

            },
            startPeer(userId, initiator = true) {

                let config = {
                    iceServers: [
                        {
                            urls: 'stun:stun.l.google.com:19302'
                        },
                        {
                            urls: 'stun:global.stun.twilio.com:3478?transport=udp'
                        },
                        {
                            urls: 'turn:turn.onaysurdo.kz:5349',
                            username: 'otkel',
                            credential: 'panfilov28'
                        }
                    ],
                };
                const peer = new Peer({
                    initiator,
                    stream: this.user.stream,
                    trickle: false,
                    config: config
                });

                peer.on('signal', (data) => {
                    axios.put(`/call/${this.call.id}`, {
                        type: 'signal',
                        user: this.user,
                        data: data
                    }).then((res) => {
                        console.log('translator called', res);
                    });
                });


                peer.on('stream', (stream) => {
                    this.remoteStream = stream;
                    this.isStarted = true;
                    setTimeout(() => {
                        try {
                            this.$refs.userVideo.srcObject = stream;
                        } catch (e) {
                            this.$refs.userVideo.src = URL.createObjectURL(stream);
                        }
                        this.$refs.userVideo.play();
                        //this.callingAudio.pause();
                        //After starting we will setup web socket to record video
                        this.setupWebSocket();
                        this.startCall();
                        //start charging off
                        this.startChargingOff();
                    }, 500);


                });

                peer.on('close', () => {
                    this.ws.close();
                    this.finishCall();
                    alert('Звонок был завершен!');
                });

                peer.on('data', data => {
                    this.$refs.runningText.textContent = data;
                });


                return peer;
            },
            setupWebSocket: function () {
                {
                    this.pc = new RTCPeerConnection(null);

                    this.ws = new WebSocket(this.wsUrl, ["rec", this.call.id, false]);


                    this.ws.onopen = () => {
                        console.log("websockets opened");
                        this.pc.addStream(this.localStream);
                        this.pc.createOffer(this.localStream).then((offer) => {
                            console.debug("createOffer success", offer);
                            //We have sdp
                            this.sdp = offer.sdp;
                            //Set it
                            this.pc.setLocalDescription(offer).then(() => {
                                console.log(this.sdp);
                                //Create room
                                this.ws.send(JSON.stringify({
                                    cmd: "OFFER",
                                    offer: this.sdp
                                }));
                            });
                        });

                    };

                    this.ws.onmessage = (event) => {
                        console.log(event);

                        //Get protocol message
                        const msg = JSON.parse(event.data);

                        console.log(msg.answer);
                        this.pc.setRemoteDescription(new RTCSessionDescription({
                                type: 'answer',
                                sdp: msg.answer
                            }), function () {
                                console.log("JOINED");
                            }, function (err) {
                                console.error("Error joining", err);
                            }
                        );
                    };
                }
            },
            playCallingAudio: function () {
                this.callingAudio = new Audio('phone-calling.mp3');
                this.callingAudio.loop = true;
                this.callingAudio.play();
            },
            finishCall: function () {
                console.log('finish call clicked');
                if (!this.isDoingRequest) {
                    this.isDoingRequest = true;
                    axios.get(`/call/${this.call.id}/finish-call`).then((res) => {
                        this.peers[this.call.translator_id].destroy();
                        this.isDoingRequest = false;
                    }).catch((err) => {
                        console.error(err);
                    });
                }
            },
            startCall: function () {
                console.log('start call clicked');
                if (!this.isDoingRequest) {
                    this.isDoingRequest = true;
                    axios.get(`/call/${this.call.id}/start-call`).then((res) => {
                        this.isDoingRequest = false;
                    }).catch((err) => {
                        console.error(err);
                    });
                }
            },
            startPinging: function () {
                let interval = setInterval(() => {
                    axios.get(`/call/${this.call.id}/ping`).then((res) => {
                        console.log(`ping ${res.data}`);
                    }).catch((err) => {
                        console.error(err);
                    });
                }, 10000);
            },
            startChargingOff: function () {
                setInterval(() => {
                    axios.post(`/payment/charge`, {
                        call_id: this.call.id
                    }).then((res) => {
                        console.log(res.data);
                    }).catch((err) => {
                        console.error(err);
                    });
                }, 60000);
            },

        },
        data() {
            return {
                hasMedia: false,
                otherUserId: null,
                user: null,
                peers: {},
                mediaHandler: null,
                call: null,
                signal: null,
                wsUrl: "wss://" + 'osms.cf' + ":" + 8000,
                wsRoomId: (new Date()).getTime() + "-" + Math.random(),
                localStream: null,
                sdp: null,
                pc: null,
                remoteStream: null,
                ws: null,
                isStarted: false,
                callingAudio: null,
                isDoingRequest: false
            }
        },
        mounted() {
            this.user = this.userProp;
            this.user.stream = null;
            this.mediaHandler = new MediaHandler;
            this.mediaHandler.getPermissions()
                .then((stream) => {
                    this.hasMedia = true;
                    this.user.stream = stream;
                    try {
                        this.$refs.myVideo.srcObject = stream;
                        console.log('trying to open local video');
                    } catch (e) {
                        console.log('catching error trying to open video');
                        this.$refs.myVideo.src = URL.createObjectURL(stream);
                    }
                    this.$refs.myVideo.muted = true;

                    this.$refs.myVideo.play();
                    this.localStream = stream;
                    //this.playCallingAudio();

                });
            this.setupSocket();

        }
    }
</script>

<style scoped>
    .big-title {
        font-size: 30px;
        font-weight: bold;
    }

    .container-fluid {
        height: 100vh;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .finish-call {
        bottom: 10%
    }

    .finish-call:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .user-video {
        height: 100%;
    }

    .my-video {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 10;
        max-width: 30%;
        height: 25%;
    }

    .running-text {
        bottom: 0;
    }

    svg {
        height: 20px;
        color: red;
    }
</style>