// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.full-height {
  height: 100vh;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2.big-title {
  font-size: 35px;
  font-weight: bolder;
  font-family: fantasy;
  margin-bottom: 2vh;
}

.iin-auth-container {

  .iin-input {
    margin-top: 1vh;
  }

  p{
    font-size: 20px;
  }

  .btn-enter {
    margin-top: 5vh;
    background-color: gray !important;
    color: black;

    &.active {
      background-color: red !important;
      border: aliceblue;
    }
  }

}

.container-mute {
  background: rgba(182, 201, 51, 0.2);
  z-index: 50;
  width: 100%;
  position: absolute;
  height: 100%;
}

.lds-dual-ring {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 100;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-page-container {
  div.button, a.button {
    padding: 17px 37px;
    display: flex;
    color: black !important;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a9055;

    &:hover {
      cursor: pointer;
    }
  }

  .main-buttons {
    margin-top: 5vh;
    display: flex;
    width: 40vw;
    justify-content: space-around;

    div:first-child, a:first-child {
      background: rgba(20, 255, 0, 0.37);
    }

    div:nth-child(2) {
      background: rgba(0, 133, 255, 0.37);
    }
  }

  .about-us-button {
    margin-top: 3vh;
    background: rgba(128, 0, 255, 0.32);
  }

}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.saving span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}

.running-text {
  position: absolute;
  bottom: -32px;
  z-index: 1000;
  width: 100%;
  color: white;
  background: black;
  font-size: 20px;
}

.finish-call {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 48%;
  padding: 25px;
  border: 1px solid red;
  border-radius: 50%;

  i {
    font-size: 50px;
    color: red;
  }

  :hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .video-container {
    position: relative;
    width: 50vw;
    height: 60vh;
  }

  h2.big-title{
    margin-bottom: 2vh;
  }

  .my-video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: auto;
    z-index: 10;
  }

  .user-video {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .video-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    .big-title{
      margin-left: 7%;
    }

  }

  .my-video {
    max-width: 100%;
    height: 50%;
  }

  .user-video {
    max-width: 100%;
    height: 50%;
  }

  .finish-call {
    left: 45%;
    padding: 13px;

    i {
      font-size: 25px;
      color: red;
    }

    :hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  .main-buttons {
    flex-direction: column;
    width: 100vw !important;
    align-items: center;

    a {
      max-width: 75%;
      margin-top: 20px;
    }
  }

}

.webview-app {
  background: #eee;
}

/* Standard syntax */
@keyframes first-button {
  0% {
    background-color: unset;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: #bab13b !important;
  }
}

.main-buttons {
  a {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    &:hover {
      background-color: #008CBA !important;
      color: white !important;
    }
    &.first-time {
      -webkit-animation-name: first-button; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
      animation-name: first-button;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}


/* Global Button Styles */
a.animated-button, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button.thar-two {
  cursor: pointer;
  color: black;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
  top: 0%;
  bottom: auto;
  height: 100%;
}
a.animated-button.thar-two:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}