<template>
    <div @keyup.enter="loginRequest" class="container-fluid">
        <div :class="isDoingRequest ? 'container-mute' : ''">
        </div>
        <div class="lds-dual-ring" v-if="isDoingRequest"></div>
        <div class="container full-height iin-auth-container flex-container">
            <h2 class="big-title">
                Добро пожаловать в Onay Surdo!
            </h2>
            <p>ВАШ БИН и Номер филиала(Оставьте пустым если нет)</p>
            <iin-input :allowPaste="false" :fontSize="40" :length="12"
                       @input="filled"
                       class="iin-input"
                       fontColor="#ffc107"
                       inputColor="#31bce6"
                       v-model="iin"></iin-input>
            <iin-input :allowPaste="false" :fontSize="40" :length="3"
                       @input="filledFilial"
                       class="iin-input"
                       fontColor="#ffc107"
                       inputColor="#31bce6"
                       v-model="filialNumber"></iin-input>
            <button :class="iin.length === 12? 'active' : 'disabled'" @click="loginRequest"
                    class="btn btn-info btn-enter btn-lg">Вход
            </button>
        </div>
    </div>

</template>

<script>
    import IinInput from "../parts/IinInput";
    import axios from 'axios';

    export default {
        name: "BinAuth",
        data() {
            return {
                iin: '',
                filialNumber: '',
                isDoingRequest: false
            }
        },
        components: {
            IinInput
        },
        methods: {
            filled: function (string) {
                this.iin = string;
            },
            filledFilial: function (string) {
                this.filialNumber = string;
            },
            loginRequest: function () {
                if (!this.isDoingRequest && this.iin.length === 12) {
                    this.isDoingRequest = true;
                    axios.post('/login-bin-request', {bin: this.iin,filial: this.filialNumber}).then((res) => {
                        if (res.status === 200) {
                            window.location.href = '/client';
                        }
                    }).catch((err) => {
                        console.log(err);
                        alert('Вашего БИН-а с таким номером филиала нет на нашей базе данных!');
                    }).finally(() => {
                        this.isDoingRequest = false;
                    });
                }

            }
        }

    }
</script>

<style scoped>
    .container-fluid {
        position: relative;
    }

    @media (max-width: 768px) {
        .big-title {
            font-size: 25px;
        }
    }
</style>