<template>
    <div class="row">
        <div :class="isDoingRequest ? 'container-mute' : ''">
        </div>
        <div class="lds-dual-ring" v-if="isDoingRequest"></div>
        <div class="row">
            <div class="col-sm-12 d-flex py-5">
                <div class="form-group col-sm-12">
                    <label for="sum">Сумма пополнения</label>
                    <div class="d-flex justify-content-start row">
                        <div class="input-group col-sm-8 input-group-lg">
                            <input type="number" id="sum" min="100" v-model="amount" class="form-control"
                                   aria-label="Сумма пополнения">
                            <div class="input-group-append pl-0">
                                <span class="input-group-text">KZT</span>
                            </div>
                        </div>
                        <button @click="pay" class="btn btn-primary btn-lg">
                            Оплатить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "TopUp",
        data() {
            return {
                amount: 100,
                isDoingRequest: false
            }
        },
        props: [
            'user'
        ],
        methods: {
            pay: function () {
                if (this.amount >= 100) {
                    let invoiceId = parseInt(Math.random() * 10000000);
                    //требуется библиотека jquery
                    var widget = new cp.CloudPayments();
                    widget.charge({ // options
                            publicId: 'pk_997bb20fbc27a76a5a345b613d452',
                            description: `Оплата в onaysurdo.kz ${parseInt(this.amount)} тенге + ${this.commission} тенге(4% комиссия)`,
                            amount: this.total, //сумма
                            currency: 'KZT',
                            invoiceId: invoiceId, //номер заказа
                            accountId: '', //плательщик
                        },
                        (options) => { // success
                            this.isDoingRequest = true;
                            axios.post('payment/new-payment', {
                                'invoice_id': invoiceId,
                                'amount': this.amount
                            }).then(() => {
                                alert('Ваш баланс успешно пополнен!');
                                window.location.reload(false);
                            }).finally(() => {
                                this.isDoingRequest = false;
                            });
                            console.log(options);
                        },
                        function (reason, options) { // fail
                            console.log(reason, options);
                            alert('Мы не смогли списать у вас деньги!');
                        })
                }else{
                    alert('Минимальная сумма 100 тенге');
                }
            }
        },
        computed: {
            commission: function () {
                return this.amount * 0.04;
            },
            total: function () {
                return parseInt(this.amount) + this.commission;
            }
        }
    }
</script>

<style scoped>
    label {
        font-size: 20px;
    }

    .container {
        position: relative;
    }
</style>