<template>
    <div class="form-group">
        <label for="photo">ФОТО:</label>
        <div class="col-sm-6 d-flex justify-content-center m-3">
            <img id="photo-img" ref="photo_img" class="w-50" :src="src" v-if="show" alt="your image"/>
        </div>
        <input type="file" class="form-control-file" id="photo" @change="readURL" ref="img"
               placeholder="Выберите фото"
               name="photo"
               accept="image/*">
    </div>
</template>

<script>
    export default {
        name: "AvatarUpload",
        props: [
            'photo'
        ],
        methods: {
            readURL: function () {
                if (this.$refs.img.files && this.$refs.img.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#photo-img').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(this.$refs.img.files[0]);
                    this.show = true;
                }
            },
        },
        data() {
            return {
                show: false,
                src: ''
            }
        },
        mounted() {
            if (this.photo) {
                this.show = true;
                this.src = this.photo;
            }
        }
    }
</script>

<style scoped>

</style>