<template>
    <div>
        <div class="form-group">
            <label for="ip_or_too">ИП/ТОО:</label>
            <select class="form-control" id="ip_or_too" name="ip_or_too" v-model="isIp">
                <option value="1">ИП</option>
                <option value="0">ТОО</option>
            </select>
        </div>
        <div class="form-group">
            <template v-if="isIp === '1'">
                <label for="iin">ИИН:</label>
                <input class="form-control" id="iin" name="iin" placeholder="Ваш ИИН" v-model="iin" type="text">
            </template>
            <template v-else>
                <label for="iin">БИН:</label>
                <input class="form-control" id="bin" name="bin" placeholder="Ваш БИН" v-model="bin" type="text">
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'isIpProp',
            'binProp',
            'iinProp'
        ],
        name: "Requisit",
        data() {
            return {
                isIp: '0',
                iin: '',
                bin: ''
            }
        },
        mounted() {
            if (this.isIpProp === "1") {
                this.isIp = '1';
            }
            this.iin = this.iinProp;
            this.bin = this.binProp;
        }
    }
</script>

<style scoped>

</style>