<template>
    <div>
        <div class="form-group" :class="isRegister ? 'row' : ''">
            <label for="area" :class="isRegister ? 'col-md-4 col-form-label text-md-right' : ''">Область:</label>
            <div :class="isRegister ? 'col-md-6' : ''">
                <select class="form-control" id="area" name="area" v-model="area">
                    <option :value="area.id" v-for="area in areas">{{area.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" :class="isRegister ? 'row' : ''" v-if="selectedArea">
            <label for="region" :class="isRegister ? 'col-md-4 col-form-label text-md-right' : ''">Регионы:</label>
            <div :class="isRegister ? 'col-md-6' : ''">
                <input :value="selectedRegions.concat(',')" name="regions" type="hidden">
                <select :multiple="!single" class="form-control" id="region" name="region"
                        v-model="single ? selectedRegion : selectedRegions ">
                    <option :value="region.id" v-for="region in selectedArea.regions">{{region.name}}</option>
                </select>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';

    export default {
        name: "SelectRegionComponent",
        props: [
            'areaProp',
            'regionsProp',
            'single',
            'isRegister'
        ],
        data() {
            return {
                areas: [],
                regions: [],
                area: null,
                selectedRegions: [],
                selectedRegion: ''
            }
        },
        computed: {
            selectedArea: function () {
                if (this.area) {
                    return this.areas.filter((item) => {
                        return item.id === this.area;
                    })[0]
                }
                return null;
            }
        },
        mounted() {
            axios.get('/api/get-areas').then((res) => {
                this.areas = res.data;
                if (this.areaProp) {
                    this.area = this.areaProp;
                    if (this.regionsProp) {
                        if (this.regionsProp.length === 1 && this.single) {
                            this.selectedRegion = this.regionsProp[0];
                        } else {
                            this.selectedRegions = this.regionsProp;
                        }
                    }
                }
            }).catch((err) => {
                console.log(err);
            });
        }
    }
</script>

<style scoped>

</style>