@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsBoldItalic.eot');
    src: local('Aero Matics Bold Italic'), local('AeroMaticsBoldItalic'),
        url('AeroMaticsBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsBoldItalic.woff2') format('woff2'),
        url('AeroMaticsBoldItalic.woff') format('woff'),
        url('AeroMaticsBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('AeroMaticsBold.eot');
    src: local('Aero Matics Bold'), local('AeroMaticsBold'),
        url('AeroMaticsBold.eot?#iefix') format('embedded-opentype'),
        url('AeroMaticsBold.woff2') format('woff2'),
        url('AeroMaticsBold.woff') format('woff'),
        url('AeroMaticsBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

