<template>
    <div>
        <div v-for="call in calls" class="modal" :ref="`modal${call.id}`" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Новая заявка</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Новая заявка от <b>{{call.client.name}} {{call.client.surname}}</b></p>
                        <p>Дата заявки: <b>{{call.created_at}}</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="goToPage(call.id)"
                                class="btn btn-primary">Перейти
                        </button>
                        <button type="button" @click="callingAudio.pause()" class="btn btn-secondary"
                                data-dismiss="modal">Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewClientAlert",
        props: ['regions'],
        data() {
            return {
                call: null,
                calls: [],
                callingAudio: null
            }
        },
        methods: {
            goToPage: function (id) {
                window.location.href = `/call/${id}/translator`
            },
        },
        mounted() {
            this.callingAudio = new Audio('phone-ringing.mp3');
            this.callingAudio.loop = true;
            this.regions.forEach((region) => {
                window.Echo.channel('new-clients.' + region)
                    .listen('NewCall', (signal) => {
                        this.callingAudio.play();
                        this.calls.push(signal.call);
                        setTimeout(() => {
                            $(this.$refs[`modal${signal.call.id}`]).modal('show');
                        }, 1000);

                    }).listen('CallNotWaiting', (signal) => {
                    console.log(signal);
                    this.calls = this.calls.filter((item) => {
                        return item.id !== signal.call.id;
                    });
                    if (!this.calls.length) {
                        this.callingAudio.pause();
                        $('.modal-backdrop').remove();
                    }
                });
            });
        }
    }
</script>

<style scoped>

</style>