<template>
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>ИИН</th>
            <th>Время создания заявки</th>
            <th>Ответить</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="call in calls">
            <td>{{call.client.name}}</td>
            <td>{{call.client.surname}}</td>
            <td>{{call.client.patronymic}}</td>
            <td>{{call.client.iin}}</td>
            <td>{{call.created_at}}</td>
            <td><a class="btn btn-primary" :href="`/call/${call.id}/translator`">
                Ответить
            </a></td>
        </tr>
        </tbody>
    </table>
</template>.

<script>
    export default {
        props: ['callsProp', 'regions'],
        name: "WaitingClients",
        data() {
            return {
                calls: []
            }
        },
        mounted() {
            this.calls = this.callsProp;
            this.regions.forEach((region) => {
                window.Echo.channel('new-clients.' + region)
                    .listen('NewCall', (signal) => {
                        console.log(signal);
                        this.calls.push(signal.call);
                    })
                    .listen('CallNotWaiting', (signal) => {
                        console.log(signal);
                        this.calls = this.calls.filter((item) => {
                            return item.id !== signal.call.id;
                        });
                    });
            });

        }
    }
</script>

<style scoped>

</style>